django
appnope==0.1.0
decorator==4.2.1
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.11.1
numpy==1.14.2
pandas==0.22.0
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
PuLP==1.6.8
Pygments==2.2.0
pyodbc==4.0.22
pyparsing==2.2.0
python-dateutil==2.7.0
pytz==2018.3
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
