{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Demo fleet simulator</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href='{% static "css/styles.scss" %}'>
    <link rel="stylesheet" href='{% static "css/styles.css" %}'>
</head>
<body class="cool-gradient-bluemode">
    <header>
        <h1 style="display: flex; justify-content: center">Fleet simulator</h1>
    </header>
    <section name="tools">
        <div class="col-md-8">
            <h2 class="text-ceter">Parameters</h2>
            <form action="/fleet/" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="btn" type="submit" value="Simulate" />
            </form>
            <section name="map">
                <div class="text-center">
                    <div id="map" style="margin-top: 5px;"></div>
                    <br />
                    <!-- <button onclick="start()">Click Start</button>
                                                        <button onclick="restart()">Click Restart</button> -->
                    <h3 id="dispatch"></h3>
                    <button type="button" class="btn btn-default btn-lg button-map" data-toggle="modal" data-target="#myModal">View
                            Routes</button> 
                    <button class="btn btn-default center button-map btn-lg" onclick="previous()">
                        <span>
                                <i class="fa fa-arrow-left" aria-hidden="true"></i> Previous
                        </span>
                    </button>
                    <button class="btn btn-default center button-map btn-lg" onclick="next()">Next</button>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            {% if ran and simulation %}
            <h2>Output:</h2>
            <div style="overflow-y: scroll; height:500px;">
                {% for s in steps %}
                {{ s }} <br />
                {% endfor %}
                <button class="btn btn-default btn-lg">Export</button>
                {% elif ran %}
                <h3>Not enough time segments or trucks to cover the demand.</h3>
                <em>
                    Try checking your settings and make sure there are enough trucks for your
                    destinations and/or enough time to complete the routes with the trucks you have
                </em>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 style="color:black" class="modal-title">Routes</h4>
                </div>
                <div class="modal-body">
                    <!--Tables here-->
                    <div>
                        <div class="table-div">
                            <div class="col-md-6">
                                <table class"table table-striped">
                                    <tbody>
                                        <tr>
                                            <td><strong>Source</strong></td>
                                            <td><strong>Destination</strong></td>
                                        </tr>
                                        <tr>
                                            <td>garage</td>
                                            <td>loader1</td>
                                        </tr>
                                        <tr>
                                            <td>garage</td>
                                            <td>loader2</td>
                                        </tr>
                                        <tr>
                                            <td>loader1</td>
                                            <td>garage</td>
                                        </tr>
                                        <tr>
                                            <td>loader2</td>
                                            <td> garage</td>
                                        </tr>
                                        <tr>
                                            <td>waste_dump</td>
                                            <td> garage</td>
                                        </tr>
                                        <tr>
                                            <td>garage</td>
                                            <td>shovel1</td>
                                        </tr>
                                        <tr>
                                            <td>garage</td>
                                            <td>shovel2</td>
                                        </tr>
                                        <tr>
                                            <td>waste_dump</td>
                                            <td>loader1</td>
                                        </tr>
                                        <tr>
                                            <td>loader1</td>
                                            <td>waste_dump</td>
                                        </tr>
                                        <tr>
                                            <td>waste_dump</td>
                                            <td>shovel1</td>
                                        </tr>
                                        <tr>
                                            <td>shovel1</td>
                                            <td>waste_dump</td>
                                        </tr>
                                        <tr>
                                            <td>waste_dump</td>
                                            <td>shovel2</td>
                                        </tr>
                                        <tr>
                                            <td>shovel2</td>
                                            <td>waste_dump</td>
                                        </tr>
                                        <tr>
                                            <td>crusher</td>
                                            <td>shovel1</td>
                                        </tr>
                                        <tr>
                                            <td>shovel1</td>
                                            <td>crusher</td>
                                        </tr>
                                        <tr>
                                            <td>crusher</td>
                                            <td>shovel2</td>
                                        </tr>
                                        <tr>
                                            <td>shovel2</td>
                                            <td>crusher</td>
                                        </tr>
                                        <tr>
                                            <td>crusher</td>
                                            <td>loader2</td>
                                        </tr>
                                        <tr>
                                            <td>loader2</td>
                                            <td>crusher</td>
                                        </tr>
                                        <tr>
                                            <td>loader1</td>
                                            <td>crusher</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><strong>Source</strong></td>
                                            <td><strong>Destination</strong></td>
                                            <td><strong>Tons</strong></td>
                                        </tr>
                                        <tr>
                                            <td>shovel1</td>
                                            <td>crusher</td>
                                            <td>8000</td>
                                        </tr>
                                        <tr>
                                            <td>shovel2</td>
                                            <td>crusher</td>
                                            <td>1200</td>
                                        </tr>
                                        <tr>
                                            <td>loader1</td>
                                            <td>crusher</td>
                                            <td>4000</td>
                                        </tr>
                                        <tr>
                                            <td>shovel1</td>
                                            <td>waste_dump</td>
                                            <td>1600</td>
                                        </tr>
                                        <tr>
                                            <td>shovel2</td>
                                            <td>waste_dump</td>
                                            <td>2000</td>
                                        </tr>
                                        <tr>
                                            <td>loader1</td>
                                            <td>waste_dump</td>
                                            <td>1000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <script src='{% static "js/routes.js" %}'></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
        </script>
        <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.AnimatedMarker/1.0.0/AnimatedMarker.min.js">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
        <script>
            var steps = "{{steps}}"; //collection of movements made by python algorithm
            //particles settings
            // ParticlesJS Config.
            /*particlesJS("particles-js", {
              "particles": {
                "number": {
                  "value": 80,
                  "density": {
                    "enable": true,
                    "value_area": 700
                  }
                },
                "color": {
                  "value": "#ffffff"
                },
                "shape": {
                  "type": "circle",
                  "stroke": {
                    "width": 0,
                    "color": "#000000"
                  },
                  "polygon": {
                    "nb_sides": 5
                  },
                },
                "opacity": {
                  "value": 0.5,
                  "random": false,
                  "anim": {
                    "enable": false,
                    "speed": 1,
                    "opacity_min": 0.1,
                    "sync": false
                  }
                },
                "size": {
                  "value": 3,
                  "random": true,
                  "anim": {
                    "enable": false,
                    "speed": 40,
                    "size_min": 0.1,
                    "sync": false
                  }
                },
                "line_linked": {
                  "enable": true,
                  "distance": 150,
                  "color": "#ffffff",
                  "opacity": 0.4,
                  "width": 1
                },
                "move": {
                  "enable": true,
                  "speed": 6,
                  "direction": "none",
                  "random": false,
                  "straight": false,
                  "out_mode": "out",
                  "bounce": false,
                  "attract": {
                    "enable": false,
                    "rotateX": 600,
                    "rotateY": 1200
                  }
                }
              },
              "interactivity": {
                "detect_on": "canvas",
                "events": {
                  "onhover": {
                    "enable": true,
                    "mode": "grab"
                  },
                  "onclick": {
                    "enable": true,
                    "mode": "push"
                  },
                  "resize": true
                },
                "modes": {
                  "grab": {
                    "distance": 140,
                    "line_linked": {
                      "opacity": 1
                    }
                  },
                  "bubble": {
                    "distance": 400,
                    "size": 40,
                    "duration": 2,
                    "opacity": 8,
                    "speed": 3
                  },
                  "repulse": {
                    "distance": 200,
                    "duration": 0.4
                  },
                  "push": {
                    "particles_nb": 4
                  },
                  "remove": {
                    "particles_nb": 2
                  }
                }
              },
              "retina_detect": true
            });*/
            //end particles region
            // FUNCTIONS -----------------------------------------------------------------------
            function start() {
                console.log("TEST START....");
                animatedMarker1.start();
            }

            function restart() {
                console.log("TEST RESTART....");
                trucks.forEach(function (truck) {
                    map.removeLayer(truck);
                });

                animatedMarker1 = L.animatedMarker(lineCG.getLatLngs(), {
                    icon: truckIcon,
                    autoStart: false
                });
                animatedMarker2 = L.animatedMarker(lineWG.getLatLngs(), {
                    icon: truckIcon
                });

                trucks = [animatedMarker1, animatedMarker2];

                map.addLayer(animatedMarker1);
                map.addLayer(animatedMarker2);
            }

            function selectAnimation(truck) {
                if (truck[1] === 'C' && truck[2] === 'garage') {
                    return L.animatedMarker(L.polyline(CG).getLatLngs(), {
                        icon: truckIcon,
                        autoStart: true,
                        onEnd: function () {
                            map.removeLayer(this);
                        }
                    });
                } else if (truck[1] === 'W' && truck[2] === 'garage') {
                    return L.animatedMarker(L.polyline(WG).getLatLngs(), {
                        icon: truckIcon,
                        autoStart: true,
                        onEnd: function () {
                            map.removeLayer(this);
                        }
                    });
                } else if (truck[1] === 'L1' && truck[2] === 'C') {
                    return L.animatedMarker(L.polyline(L1C).getLatLngs(), {
                        icon: truckIcon,
                        autoStart: true,
                        onEnd: function () {
                            map.removeLayer(this);
                        }
                    });
                } else if (truck[1] === 'L1' && truck[2] === 'W') {
                    return L.animatedMarker(L.polyline(L1W).getLatLngs(), {
                        icon: truckIcon,
                        autoStart: true,
                        onEnd: function () {
                            map.removeLayer(this);
                        }
                    });
                } else if (truck[1] === 'L2' && truck[2] === 'C') {
                    return L.animatedMarker(L.polyline(L2C).getLatLngs(), {
                        icon: truckIcon,
                        autoStart: true,
                        onEnd: function () {
                            map.removeLayer(this);
                        }
                    });
                } else if (truck[1] === 'L2' && truck[2] === 'W') {
                    return L.animatedMarker(L.polyline(L1W).getLatLngs(), {
                        icon: truckIcon,
                        autoStart: true,
                        onEnd: function () {
                            map.removeLayer(this);
                        }
                    });
                } else if (truck[1] === 'S1' && truck[2] === 'C') {
                    return L.animatedMarker(L.polyline(S1C).getLatLngs(), {
                        icon: truckIcon,
                        autoStart: true,
                        onEnd: function () {
                            map.removeLayer(this);
                        }
                    });
                } else if (truck[1] === 'S1' && truck[2] === 'W') {
                    return L.animatedMarker(L.polyline(S1W).getLatLngs(), {
                        icon: truckIcon,
                        autoStart: true,
                        onEnd: function () {
                            map.removeLayer(this);
                        }
                    });
                } else if (truck[1] === 'S2' && truck[2] === 'C') {
                    return L.animatedMarker(L.polyline(S2C).getLatLngs(), {
                        icon: truckIcon,
                        autoStart: true,
                        onEnd: function () {
                            map.removeLayer(this);
                        }
                    });
                } else if (truck[1] === 'S2' && truck[2] === 'W') {
                    return L.animatedMarker(L.polyline(S2W).getLatLngs(), {
                        icon: truckIcon,
                        autoStart: true,
                        onEnd: function () {
                            map.removeLayer(this);
                        }
                    });
                }
            }

            function next() {
                indexDispatch = indexDispatch + 1 < animationData.length ? indexDispatch + 1 : indexDispatch;

                console.log(`dispatch-${indexDispatch + 1}`);
                console.log(animationData[indexDispatch]);

                document.getElementById("dispatch").innerHTML = `Dispatch: ${indexDispatch + 1}`;

                animations.filter(function (animation) {
                    if (animation !== undefined) {
                        return animation;
                    }
                }).forEach(function (animation) {
                    map.removeLayer(animation);
                });
                animations = [];

                animationData[indexDispatch].forEach(function (truck) {
                    var animation = selectAnimation(truck);
                    animations.push(animation);
                });

                console.log(animations)
                animations.filter(function (animation) {
                    if (animation !== undefined) {
                        return animation;
                    }
                }).forEach(function (animation) {
                    map.addLayer(animation);
                });
            }

            function previous() {
                indexDispatch = indexDispatch - 1 >= 0 ? indexDispatch - 1 : indexDispatch;

                console.log(`dispatch-${indexDispatch - 1}`);
                console.log(animationData[indexDispatch]);

                document.getElementById("dispatch").innerHTML = `Dispatch: ${indexDispatch+1}`;

                animations.filter(function (animation) {
                    if (animation !== undefined) {
                        return animation;
                    }
                }).forEach(function (animation) {
                    map.removeLayer(animation);
                });
                animations = [];

                animationData[indexDispatch].forEach(function (truck) {
                    var animation = selectAnimation(truck);
                    animations.push(animation);
                });

                console.log(animations)
                animations.filter(function (animation) {
                    if (animation !== undefined) {
                        return animation;
                    }
                }).forEach(function (animation) {
                    map.addLayer(animation);
                });
            }
            // START ----------------------------------------------------------------------------
            var map = L.map('map').setView([30.351780, -111.118582], 15);
            var animations = [];
            var indexDispatch = 0;

            document.getElementById("dispatch").innerHTML = `Dispatch: ${indexDispatch+1}`;

            var animationData = JSON.parse('{{ animationData | escapejs }}');

            L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
                maxZoom: 20,
                subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
            }).addTo(map);

            //ICOS - PLACES
            var s1Icon = L.icon({
                iconUrl: '{% static "images/s1_26.png" %}',
                iconAnchor: [13, 35]
            });
            var s2Icon = L.icon({
                iconUrl: '{% static "images/s2_26.png" %}',
                iconAnchor: [13, 35]
            });
            var l1Icon = L.icon({
                iconUrl: '{% static "images/l1_26.png" %}',
                iconAnchor: [13, 35]
            });
            var l2Icon = L.icon({
                iconUrl: '{% static "images/l2_26.png" %}',
                iconAnchor: [13, 35]
            });
            var cIcon = L.icon({
                iconUrl: '{% static "images/c_26.png" %}',
                iconAnchor: [13, 35]
            });
            var wIcon = L.icon({
                iconUrl: '{% static "images/w_26.png" %}',
                iconAnchor: [13, 35]
            });
            var gIcon = L.icon({
                iconUrl: '{% static "images/g_26.png" %}',
                iconAnchor: [13, 35]
            });

            //ICOS - TRUCK
            var truckIcon = L.icon({
                iconUrl: '{% static "images/truck-24.png" %}',
                iconAnchor: [11, 32]
            });

            //MARKERS
            L.marker(s1LatLon, {
                icon: s1Icon
            }).addTo(map);
            L.marker(s2LatLon, {
                icon: s2Icon
            }).addTo(map);
            L.marker(l1LatLon, {
                icon: l1Icon
            }).addTo(map);
            L.marker(l2LatLon, {
                icon: l2Icon
            }).addTo(map);
            L.marker(cLatLon, {
                icon: cIcon
            }).addTo(map);
            L.marker(wLatLon, {
                icon: wIcon
            }).addTo(map);
            L.marker(gLatLon, {
                icon: gIcon
            }).addTo(map);

            //ROUTES PATHS
            var lineCG = L.polyline(CG).addTo(map);
            var lineWG = L.polyline(WG).addTo(map);
            var lineL1C = L.polyline(L1C).addTo(map);
            var lineL1W = L.polyline(L1W).addTo(map);
            L.polyline(L2C).addTo(map);
            L.polyline(L2W).addTo(map);
            L.polyline(S1C).addTo(map);
            L.polyline(S1W).addTo(map);
            L.polyline(S2C).addTo(map);
            L.polyline(S2W).addTo(map);

            //ANIMATiONS
            if (animationData.length) {
                console.log(`Default dispatch-${indexDispatch + 1}`);
                console.log(animationData[indexDispatch]);

                animationData[indexDispatch].forEach(function (truck) {
                    var animation = selectAnimation(truck);
                    animations.push(animation);
                });

                animations.filter(function (animation) {
                    if (animation !== undefined) {
                        return animation;
                    }
                }).forEach(function (animation) {
                    map.addLayer(animation);
                })
            }
        </script>
</body>
</html>